<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="~{fragment::locale}"></div>
<form th:action="@{/users/registration}" enctype="multipart/form-data" method="post" th:object="${userRegistration}">
    <label for="username"><span th:text="#{registration.username}">Username:</span>
        <input id="username" type="text" name="fullName" th:value="${userRegistration.fullName}">
    </label><br><br>
    <label for="rawPassword"><span th:text="#{registration.password}">Password:</span>
        <input id="rawPassword" type="password" name="password" th:value="${userRegistration.password}">
    </label><br><br>
    <label for="phoneNumber"><span th:text="#{registration.phoneNumber}">Phone number:</span>
        <input id="phoneNumber" type="text" name="phoneNumber" th:value="${userRegistration.phoneNumber}">
    </label><br><br>
    <label for="email"><span th:text="#{registration.email}">Email:</span>
        <input id="email" type="text" name="email" th:value="${userRegistration.email}">
    </label><br><br>
    <label for="residentialAddress"><span th:text="#{registration.address}">Address:</span>
        <input id="residentialAddress" type="text" name="residentialAddress"
               th:value="${userRegistration.residentialAddress}">
    </label><br><br>
    <label for="passport"><span th:text="#{registration.passport}">Passport:</span>
        <input id="passport" type="text" name="passport" th:value="${userRegistration.passport}">
    </label><br><br>
    <label for="driverLicense"><span th:text="#{registration.driverLicense}">Driver License:</span>
        <input id="driverLicense" type="text" name="driverLicense" th:value="${userRegistration.driverLicense}">
    </label><br><br>
    <label for="bankCard"><span th:text="#{registration.bankCard}">Bank Card:</span>
        <input id="bankCard" type="text" name="bankCard" th:value="${userRegistration.bankCard}">
    </label><br><br>
    <button type="submit"><span th:text="#{registration.registration}">Register</span></button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>